## Import Dependencies

In [1]:
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, extract
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR, Boolean, ForeignKey
from sqlalchemy.ext.declarative import declarative_base

In [2]:
engine = create_engine("sqlite:///../database/db.sqlite")
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

['athlete_events', 'noc']

In [3]:
# athlete_events = Base.classes.athlete_events
# noc_regions = Base.Classes.noc_regions

session = Session(engine)
inspector = inspect(engine)
inspector.get_table_names()

['athlete_events', 'noc']

In [4]:
athlete_events = Base.classes.athlete_events
noc_regions = Base.classes.noc

columns = inspector.get_columns('athlete_events')
for column in columns:
    print(column["name"], column["type"])

index VARCHAR
ID VARCHAR
Name VARCHAR
Sex VARCHAR
Age INTEGER
Height INTEGER
Weight INTEGER
Team VARCHAR
NOC VARCHAR
Games VARCHAR
Year VARCHAR
Season VARCHAR
City VARCHAR
Sport VARCHAR
Event VARCHAR
Medal VARCHAR

In [5]:
columns = inspector.get_columns('noc')
for column in columns:
    print(column["name"], column["type"])

index VARCHAR
NOC VARCHAR
region VARCHAR
notes VARCHAR

In [75]:
# {
#    "NOC": "USA",
#    "Country": "United States",
#    "Season": "Winter",
#    "Event": "Swimming",
#    "Medals": 120,
#    "Played": 876
#  },

sel = [
    athlete_events.NOC,
    noc_regions.region,
    athlete_events.Season,
    athlete_events.Event,
    athlete_events.Medal
   ]

noc_substring = "AFG"

query = session.query(*sel)\
        .filter(athlete_events.NOC.contains(noc_substring))\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .all()

df = pd.DataFrame(query)

df = df.groupby(['Season'])

table = df["Event"].value_counts().unstack(fill_value=0)
table['total'] = table.iloc[:,0:].sum(1)
table = table.transpose().reset_index()
table.head(100)

# merge = pd.merge(df, table, on='Event', how='inner')
# merge.head()

# join = test.join(table, on='Event', how='outer')

Season                                         Event  Summer
0                         Athletics Men's 100 metres       7
1                 Athletics Men's 110 metres Hurdles       1
2                         Athletics Men's 200 metres       1
3               Athletics Men's 4 x 100 metres Relay       4
4                         Athletics Men's 400 metres       1
5                      Athletics Men's Javelin Throw       1
6                          Athletics Men's Long Jump       1
7                           Athletics Men's Marathon       1
8                           Athletics Men's Shot Put       1
9                       Athletics Women's 100 metres       4
10                         Boxing Men's Bantamweight       1
11                        Boxing Men's Featherweight       1
12                            Boxing Men's Flyweight       1
13                          Boxing Men's Lightweight       1
14                         Boxing Men's Welterweight       1
15                           Football Men's Football      11
16                               Hockey Men's Hockey      39
17                       Judo Men's Half-Heavyweight       1
18                       Judo Men's Half-Lightweight       1
19                         Judo Women's Middleweight       1
20                     Taekwondo Men's Featherweight       2
21                         Taekwondo Men's Flyweight       1
22                      Taekwondo Men's Welterweight       1
23           Wrestling Men's Bantamweight, Freestyle       4
24         Wrestling Men's Bantamweight, Greco-Roman       2
25          Wrestling Men's Featherweight, Freestyle       6
26        Wrestling Men's Featherweight, Greco-Roman       3
27              Wrestling Men's Flyweight, Freestyle       5
28            Wrestling Men's Heavyweight, Freestyle       1
29        Wrestling Men's Light-Flyweight, Freestyle       2
30      Wrestling Men's Light-Heavyweight, Freestyle       3
31            Wrestling Men's Lightweight, Freestyle       4
32          Wrestling Men's Lightweight, Greco-Roman       3
33           Wrestling Men's Middleweight, Freestyle       4
34           Wrestling Men's Welterweight, Freestyle       5
35                                             total     126

In [99]:
sel = [
    noc_regions.region,
    athlete_events.Medal
   ]

query = session.query(*sel)\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .filter(athlete_events.Medal.isnot(None))\
        .all()

df = pd.DataFrame(query)

df = df.groupby(['region'])

table = df["Medal"].count().reset_index()
Total = table['Medal'].sum()

table['measure'] = round((table['Medal'] / Total), 10)

name_dict = {
    'region': 'country'
}

column_list = [
    'country',
    'measure'
]

table = table.rename(columns=name_dict)
table = table[table.columns.intersection(column_list)]

table = table.sort_values(by=['measure'], ascending=False)


df.head()
table.head()

     country   measure
125      USA  0.141726
100   Russia  0.099236
41   Germany  0.094434
124       UK  0.051994
38    France  0.044677

In [120]:
# create two data frames and the conncat them together


sel = [
    noc_regions.region,
    athlete_events.Sport,
    athlete_events.Medal
   ]

query = session.query(*sel)\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .filter(athlete_events.Medal.isnot(None))\
        .all()

df = pd.DataFrame(query)

group = df.groupby(['region', 'Sport'])
table = group["Medal"].count().reset_index()

no_group = df.groupby(['Sport'])
table_2 =  no_group['Medal'].count().reset_index()
table_2['country'] = 'All'

name_dict = {
    'region': 'country',
    'Medal': 'measure',
    'Sport': 'sports'
}

column_list = [
    'country',
    'sports',
    'measure'
]

table = table.rename(columns=name_dict)
table = table[table.columns.intersection(column_list)]
table = table.sort_values(by=['measure'], ascending=False).reset_index(drop=True)

table_2 = table_2.rename(columns=name_dict)
table_2 = table_2[table_2.columns.intersection(column_list)]
table_2 = table_2.sort_values(by=['measure'], ascending=False).reset_index(drop=True)

result = pd.concat([table_2, table], ignore_index=True)



df.head()
table.head()
table_2.head()
result.head()

C:\Users\Jorge\Anaconda3\envs\ut_data\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  country  measure      sports
0     All     3969   Athletics
1     All     3047    Swimming
2     All     2945      Rowing
3     All     2256  Gymnastics
4     All     1743     Fencing