## Import Dependencies

In [1]:
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, extract
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR, Boolean, ForeignKey
from sqlalchemy.ext.declarative import declarative_base

In [2]:
engine = create_engine("sqlite:///../database/db.sqlite")
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

['athlete_events', 'noc']

In [3]:
# athlete_events = Base.classes.athlete_events
# noc_regions = Base.Classes.noc_regions

session = Session(engine)
inspector = inspect(engine)
inspector.get_table_names()

['athlete_events', 'noc']

In [4]:
athlete_events = Base.classes.athlete_events
noc_regions = Base.classes.noc

columns = inspector.get_columns('athlete_events')
for column in columns:
    print(column["name"], column["type"])

index VARCHAR
ID VARCHAR
Name VARCHAR
Sex VARCHAR
Age INTEGER
Height INTEGER
Weight INTEGER
Team VARCHAR
NOC VARCHAR
Games VARCHAR
Year VARCHAR
Season VARCHAR
City VARCHAR
Sport VARCHAR
Event VARCHAR
Medal VARCHAR

In [5]:
columns = inspector.get_columns('noc')
for column in columns:
    print(column["name"], column["type"])

index VARCHAR
NOC VARCHAR
region VARCHAR
notes VARCHAR

In [6]:
# {
#    "NOC": "USA",
#    "Country": "United States",
#    "Season": "Winter",
#    "Event": "Swimming",
#    "Medals": 120,
#    "Played": 876
#  },

sel = [
    athlete_events.NOC,
    noc_regions.region,
    athlete_events.Season,
    athlete_events.Event,
    athlete_events.Medal
   ]

noc_substring = "AFG"

query = session.query(*sel)\
        .filter(athlete_events.NOC.contains(noc_substring))\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .all()

df = pd.DataFrame(query)

df = df.groupby(['Season'])

table = df["Event"].value_counts().unstack(fill_value=0)
table['total'] = table.iloc[:,0:].sum(1)
table = table.transpose().reset_index()
table.head()

# merge = pd.merge(df, table, on='Event', how='inner')
# merge.head()

# join = test.join(table, on='Event', how='outer')

Season                                 Event  Summer
0                 Athletics Men's 100 metres       7
1         Athletics Men's 110 metres Hurdles       1
2                 Athletics Men's 200 metres       1
3       Athletics Men's 4 x 100 metres Relay       4
4                 Athletics Men's 400 metres       1

In [7]:
sel = [
    noc_regions.region,
    athlete_events.Medal
   ]

query = session.query(*sel)\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .filter(athlete_events.Medal.isnot(None))\
        .all()

df = pd.DataFrame(query)

df = df.groupby(['region'])

table = df["Medal"].count().reset_index()
Total = table['Medal'].sum()

table['measure'] = round((table['Medal'] / Total), 10)

name_dict = {
    'region': 'country'
}

column_list = [
    'country',
    'measure'
]

table = table.rename(columns=name_dict)
table = table[table.columns.intersection(column_list)]

table = table.sort_values(by=['measure'], ascending=False)


df.head()
table.head()

     country   measure
125      USA  0.141726
100   Russia  0.099236
41   Germany  0.094434
124       UK  0.051994
38    France  0.044677

In [8]:
# create two data frames and the conncat them together


sel = [
    noc_regions.region,
    athlete_events.Sport,
    athlete_events.Medal
   ]

query = session.query(*sel)\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .filter(athlete_events.Medal.isnot(None))\
        .all()

df = pd.DataFrame(query)

group = df.groupby(['region', 'Sport'])
table = group["Medal"].count().reset_index()

no_group = df.groupby(['Sport'])
table_2 =  no_group['Medal'].count().reset_index()
table_2['country'] = 'All'

name_dict = {
    'region': 'country',
    'Medal': 'measure',
    'Sport': 'sports'
}

column_list = [
    'country',
    'sports',
    'measure'
]

table = table.rename(columns=name_dict)
table = table[table.columns.intersection(column_list)]
table = table.sort_values(by=['measure'], ascending=False).reset_index(drop=True)

table_2 = table_2.rename(columns=name_dict)
table_2 = table_2[table_2.columns.intersection(column_list)]
table_2 = table_2.sort_values(by=['measure'], ascending=False).reset_index(drop=True)

result = pd.concat([table_2, table], ignore_index=True)



df.head()
table.head()
table_2.head()
result.head()

C:\Users\Jorge\Anaconda3\envs\ut_data\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  country  measure      sports
0     All     3969   Athletics
1     All     3047    Swimming
2     All     2945      Rowing
3     All     2256  Gymnastics
4     All     1743     Fencing

In [9]:
"""
{
   "total No of athelete": 15,
   "Year": 2000,
   "Season": "winter",
   "Sports": "Basque Pelota"
 },
 {
   "total No of athelete": 15,
   "Year": 2000,
   "Season": "winter",
   "Sports": "Aeronautics"
 },
"""
sel = [
    noc_regions.region,
    athlete_events.Year,
    athlete_events.Season,
    athlete_events.Sport,
    athlete_events.Medal
   ]

query = session.query(*sel)\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .all()

df = pd.DataFrame(query)
group = df.groupby(['Year', 'Season', 'Sport'])

table = group["Medal"].count().reset_index()

name_dict = {
    'Medal': 'total No of athelete',
    'Sport': 'Sports'
}

column_list = [
    'Year',
    'Season',
    'Sports',
    'total No of athelete'
]

table = table.rename(columns=name_dict)
table = table[table.columns.intersection(column_list)]
# table = table.sort_values(by=['measure'], ascending=False).reset_index(drop=True)

# df.head()
table.head()

   Year  Season      Sports  total No of athelete
0  1896  Summer   Athletics                    37
1  1896  Summer     Cycling                    16
2  1896  Summer     Fencing                     9
3  1896  Summer  Gymnastics                    37
4  1896  Summer    Shooting                    15

In [11]:
"""
{
    "Country": "CHINA",
    "freq":
    {
        "Gold": "4786",
        "Silver": "1319",
        "Bronze": "249"
    }
},
{
    "Country": "IND",
    "freq":
    {
        "Gold": "1101",
        "Silver": "412",
        "Bronze": "674"
    }
},
"""
sel = [
    athlete_events.NOC,
    athlete_events.Medal
   ]

query = session.query(*sel)\
        .filter(athlete_events.Medal.isnot(None))\
        .all()

df = pd.DataFrame(query)
group = df.groupby(['NOC'])

table = group["Medal"].value_counts().unstack(fill_value=0)
table = table[['Gold', 'Silver', 'Bronze']]

# data = table.to_json(orient='records')
# data = {}

# dict_a = table.to_dict(orient='records')
# data = table.to_json(orient='table')
data = []

dict_a = table.T.to_dict()
for country, values in dict_a.items():
#     print(country)
    obj = {}
    obj['country'] = country
    obj['freq'] = {'Gold':dict_a[country]['Gold'],'Silver':dict_a[country]['Silver'], 'Bronze':dict_a[country]['Bronze'] }
#     print(obj)
    data.append(obj)
data

# print(dict_a)
# print(jsonify(data))

[{'country': 'AFG', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 2}},
 {'country': 'AHO', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'ALG', 'freq': {'Gold': 5, 'Silver': 4, 'Bronze': 8}},
 {'country': 'ANZ', 'freq': {'Gold': 20, 'Silver': 4, 'Bronze': 5}},
 {'country': 'ARG', 'freq': {'Gold': 91, 'Silver': 92, 'Bronze': 91}},
 {'country': 'ARM', 'freq': {'Gold': 2, 'Silver': 5, 'Bronze': 9}},
 {'country': 'AUS', 'freq': {'Gold': 348, 'Silver': 455, 'Bronze': 517}},
 {'country': 'AUT', 'freq': {'Gold': 108, 'Silver': 186, 'Bronze': 156}},
 {'country': 'AZE', 'freq': {'Gold': 7, 'Silver': 12, 'Bronze': 25}},
 {'country': 'BAH', 'freq': {'Gold': 14, 'Silver': 11, 'Bronze': 15}},
 {'country': 'BAR', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'BDI', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 0}},
 {'country': 'BEL', 'freq': {'Gold': 98, 'Silver': 197, 'Bronze': 173}},
 {'country': 'BER', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'BLR', 'freq': {'Gold': 24, 'Silver': 44, 'Bronze': 71}},
 {'country': 'BOH', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 11}},
 {'country': 'BOT', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'BRA', 'freq': {'Gold': 109, 'Silver': 175, 'Bronze': 191}},
 {'country': 'BRN', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 1}},
 {'country': 'BUL', 'freq': {'Gold': 54, 'Silver': 144, 'Bronze': 144}},
 {'country': 'CAN', 'freq': {'Gold': 463, 'Silver': 438, 'Bronze': 451}},
 {'country': 'CHI', 'freq': {'Gold': 3, 'Silver': 9, 'Bronze': 20}},
 {'country': 'CHN', 'freq': {'Gold': 350, 'Silver': 347, 'Bronze': 292}},
 {'country': 'CIV', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 1}},
 {'country': 'CMR', 'freq': {'Gold': 20, 'Silver': 1, 'Bronze': 1}},
 {'country': 'COL', 'freq': {'Gold': 5, 'Silver': 9, 'Bronze': 14}},
 {'country': 'CRC', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 2}},
 {'country': 'CRO', 'freq': {'Gold': 58, 'Silver': 54, 'Bronze': 37}},
 {'country': 'CUB', 'freq': {'Gold': 164, 'Silver': 129, 'Bronze': 116}},
 {'country': 'CYP', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'CZE', 'freq': {'Gold': 42, 'Silver': 36, 'Bronze': 66}},
 {'country': 'DEN', 'freq': {'Gold': 179, 'Silver': 241, 'Bronze': 177}},
 {'country': 'DJI', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'DOM', 'freq': {'Gold': 3, 'Silver': 2, 'Bronze': 2}},
 {'country': 'ECU', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 0}},
 {'country': 'EGY', 'freq': {'Gold': 7, 'Silver': 8, 'Bronze': 12}},
 {'country': 'ERI', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'ESP', 'freq': {'Gold': 110, 'Silver': 243, 'Bronze': 136}},
 {'country': 'EST', 'freq': {'Gold': 13, 'Silver': 12, 'Bronze': 25}},
 {'country': 'ETH', 'freq': {'Gold': 22, 'Silver': 9, 'Bronze': 22}},
 {'country': 'EUN', 'freq': {'Gold': 127, 'Silver': 71, 'Bronze': 81}},
 {'country': 'FIJ', 'freq': {'Gold': 13, 'Silver': 0, 'Bronze': 0}},
 {'country': 'FIN', 'freq': {'Gold': 198, 'Silver': 270, 'Bronze': 432}},
 {'country': 'FRA', 'freq': {'Gold': 501, 'Silver': 610, 'Bronze': 666}},
 {'country': 'FRG', 'freq': {'Gold': 159, 'Silver': 194, 'Bronze': 233}},
 {'country': 'GAB', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'GBR', 'freq': {'Gold': 678, 'Silver': 739, 'Bronze': 651}},
 {'country': 'GDR', 'freq': {'Gold': 397, 'Silver': 327, 'Bronze': 281}},
 {'country': 'GEO', 'freq': {'Gold': 8, 'Silver': 6, 'Bronze': 18}},
 {'country': 'GER', 'freq': {'Gold': 745, 'Silver': 674, 'Bronze': 746}},
 {'country': 'GHA', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 22}},
 {'country': 'GRE', 'freq': {'Gold': 62, 'Silver': 109, 'Bronze': 84}},
 {'country': 'GRN', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 0}},
 {'country': 'GUA', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'GUY', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'HAI', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 5}},
 {'country': 'HKG', 'freq': {'Gold': 1, 'Silver': 2, 'Bronze': 1}},
 {'country': 'HUN', 'freq': {'Gold': 432, 'Silver': 332, 'Bronze': 371}},
 {'country': 'INA', 'freq': {'Gold': 11, 'Silver': 17, 'Bronze': 13}},
 {'country': 'IND', 'freq': {'Gold': 138, 'Silver': 19, 'Bronze': 40}},
 {'country': 'IOA', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 3}},
 {'country': 'IRI', 'freq': {'Gold': 18, 'Silver': 21, 'Bronze': 29}},
 {'country': 'IRL', 'freq': {'Gold': 9, 'Silver': 13, 'Bronze': 13}},
 {'country': 'IRQ', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'ISL', 'freq': {'Gold': 0, 'Silver': 15, 'Bronze': 2}},
 {'country': 'ISR', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 7}},
 {'country': 'ISV', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'ITA', 'freq': {'Gold': 575, 'Silver': 531, 'Bronze': 531}},
 {'country': 'JAM', 'freq': {'Gold': 38, 'Silver': 75, 'Bronze': 44}},
 {'country': 'JOR', 'freq': {'Gold': 1, 'Silver': 0, 'Bronze': 0}},
 {'country': 'JPN', 'freq': {'Gold': 247, 'Silver': 309, 'Bronze': 357}},
 {'country': 'KAZ', 'freq': {'Gold': 20, 'Silver': 25, 'Bronze': 32}},
 {'country': 'KEN', 'freq': {'Gold': 34, 'Silver': 41, 'Bronze': 31}},
 {'country': 'KGZ', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 2}},
 {'country': 'KOR', 'freq': {'Gold': 221, 'Silver': 232, 'Bronze': 185}},
 {'country': 'KOS', 'freq': {'Gold': 1, 'Silver': 0, 'Bronze': 0}},
 {'country': 'KSA', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 5}},
 {'country': 'KUW', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 2}},
 {'country': 'LAT', 'freq': {'Gold': 3, 'Silver': 19, 'Bronze': 13}},
 {'country': 'LIB', 'freq': {'Gold': 0, 'Silver': 2, 'Bronze': 2}},
 {'country': 'LIE', 'freq': {'Gold': 2, 'Silver': 2, 'Bronze': 5}},
 {'country': 'LTU', 'freq': {'Gold': 6, 'Silver': 7, 'Bronze': 48}},
 {'country': 'LUX', 'freq': {'Gold': 4, 'Silver': 4, 'Bronze': 0}},
 {'country': 'MAR', 'freq': {'Gold': 6, 'Silver': 5, 'Bronze': 12}},
 {'country': 'MAS', 'freq': {'Gold': 0, 'Silver': 11, 'Bronze': 5}},
 {'country': 'MDA', 'freq': {'Gold': 0, 'Silver': 3, 'Bronze': 5}},
 {'country': 'MEX', 'freq': {'Gold': 30, 'Silver': 26, 'Bronze': 54}},
 {'country': 'MGL', 'freq': {'Gold': 2, 'Silver': 10, 'Bronze': 14}},
 {'country': 'MKD', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'MNE', 'freq': {'Gold': 0, 'Silver': 14, 'Bronze': 0}},
 {'country': 'MON', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'MOZ', 'freq': {'Gold': 1, 'Silver': 0, 'Bronze': 1}},
 {'country': 'MRI', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'NAM', 'freq': {'Gold': 0, 'Silver': 4, 'Bronze': 0}},
 {'country': 'NED', 'freq': {'Gold': 287, 'Silver': 340, 'Bronze': 413}},
 {'country': 'NEP', 'freq': {'Gold': 1, 'Silver': 0, 'Bronze': 0}},
 {'country': 'NGR', 'freq': {'Gold': 23, 'Silver': 30, 'Bronze': 46}},
 {'country': 'NIG', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 1}},
 {'country': 'NOR', 'freq': {'Gold': 378, 'Silver': 361, 'Bronze': 294}},
 {'country': 'NZL', 'freq': {'Gold': 90, 'Silver': 56, 'Bronze': 82}},
 {'country': 'PAK', 'freq': {'Gold': 42, 'Silver': 45, 'Bronze': 34}},
 {'country': 'PAN', 'freq': {'Gold': 1, 'Silver': 0, 'Bronze': 2}},
 {'country': 'PAR', 'freq': {'Gold': 0, 'Silver': 17, 'Bronze': 0}},
 {'country': 'PER', 'freq': {'Gold': 1, 'Silver': 14, 'Bronze': 0}},
 {'country': 'PHI', 'freq': {'Gold': 0, 'Silver': 3, 'Bronze': 7}},
 {'country': 'POL', 'freq': {'Gold': 117, 'Silver': 195, 'Bronze': 253}},
 {'country': 'POR', 'freq': {'Gold': 4, 'Silver': 11, 'Bronze': 26}},
 {'country': 'PRK', 'freq': {'Gold': 16, 'Silver': 16, 'Bronze': 35}},
 {'country': 'PUR', 'freq': {'Gold': 1, 'Silver': 2, 'Bronze': 6}},
 {'country': 'QAT', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 4}},
 {'country': 'ROU', 'freq': {'Gold': 161, 'Silver': 200, 'Bronze': 292}},
 {'country': 'RSA', 'freq': {'Gold': 32, 'Silver': 47, 'Bronze': 52}},
 {'country': 'RUS', 'freq': {'Gold': 390, 'Silver': 367, 'Bronze': 408}},
 {'country': 'SCG', 'freq': {'Gold': 12, 'Silver': 26, 'Bronze': 26}},
 {'country': 'SEN', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'SGP', 'freq': {'Gold': 1, 'Silver': 4, 'Bronze': 4}},
 {'country': 'SLO', 'freq': {'Gold': 8, 'Silver': 13, 'Bronze': 27}},
 {'country': 'SRB', 'freq': {'Gold': 15, 'Silver': 29, 'Bronze': 41}},
 {'country': 'SRI', 'freq': {'Gold': 0, 'Silver': 2, 'Bronze': 0}},
 {'country': 'SUD', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'SUI', 'freq': {'Gold': 175, 'Silver': 248, 'Bronze': 268}},
 {'country': 'SUR', 'freq': {'Gold': 1, 'Silver': 0, 'Bronze': 1}},
 {'country': 'SVK', 'freq': {'Gold': 15, 'Silver': 19, 'Bronze': 13}},
 {'country': 'SWE', 'freq': {'Gold': 479, 'Silver': 522, 'Bronze': 535}},
 {'country': 'SYR', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 1}},
 {'country': 'TAN', 'freq': {'Gold': 0, 'Silver': 2, 'Bronze': 0}},
 {'country': 'TCH', 'freq': {'Gold': 81, 'Silver': 225, 'Bronze': 182}},
 {'country': 'TGA', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 0}},
 {'country': 'THA', 'freq': {'Gold': 9, 'Silver': 8, 'Bronze': 13}},
 {'country': 'TJK', 'freq': {'Gold': 1, 'Silver': 1, 'Bronze': 2}},
 {'country': 'TOG', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 1}},
 {'country': 'TPE', 'freq': {'Gold': 3, 'Silver': 28, 'Bronze': 18}},
 {'country': 'TTO', 'freq': {'Gold': 7, 'Silver': 8, 'Bronze': 17}},
 {'country': 'TUN', 'freq': {'Gold': 3, 'Silver': 3, 'Bronze': 7}},
 {'country': 'TUR', 'freq': {'Gold': 40, 'Silver': 27, 'Bronze': 28}},
 {'country': 'UAE', 'freq': {'Gold': 1, 'Silver': 0, 'Bronze': 1}},
 {'country': 'UAR', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 1}},
 {'country': 'UGA', 'freq': {'Gold': 2, 'Silver': 3, 'Bronze': 2}},
 {'country': 'UKR', 'freq': {'Gold': 47, 'Silver': 52, 'Bronze': 100}},
 {'country': 'URS', 'freq': {'Gold': 1082, 'Silver': 732, 'Bronze': 689}},
 {'country': 'URU', 'freq': {'Gold': 31, 'Silver': 2, 'Bronze': 30}},
 {'country': 'USA', 'freq': {'Gold': 2638, 'Silver': 1641, 'Bronze': 1358}},
 {'country': 'UZB', 'freq': {'Gold': 10, 'Silver': 7, 'Bronze': 17}},
 {'country': 'VEN', 'freq': {'Gold': 2, 'Silver': 3, 'Bronze': 10}},
 {'country': 'VIE', 'freq': {'Gold': 1, 'Silver': 3, 'Bronze': 0}},
 {'country': 'WIF', 'freq': {'Gold': 0, 'Silver': 0, 'Bronze': 5}},
 {'country': 'YUG', 'freq': {'Gold': 130, 'Silver': 167, 'Bronze': 93}},
 {'country': 'ZAM', 'freq': {'Gold': 0, 'Silver': 1, 'Bronze': 1}},
 {'country': 'ZIM', 'freq': {'Gold': 17, 'Silver': 4, 'Bronze': 1}}]

In [ ]:
"""
{ 
    "country": “All”, 
    "year": "2008",
    "measure": "289309" },
"""
sel = [
    noc_regions.region,
    athlete_events.Year,
    athlete_events.Medal
   ]

query = session.query(*sel)\
        .filter(athlete_events.NOC == noc_regions.NOC)\
        .filter(athlete_events.Medal.isnot(None))\
        .all()

df = pd.DataFrame(query)

group = df.groupby(['region', 'Year'])
table = group["Medal"].count().reset_index()

no_group = df.groupby(['Year'])
table_2 =  no_group['Medal'].count().reset_index()
table_2['country'] = 'All'

name_dict = {
    'region': 'country',
    'Medal': 'measure',
    'Year': 'year'
}

column_list = [
    'country',
    'year',
    'measure'
]

table = table.rename(columns=name_dict)
table = table[table.columns.intersection(column_list)]
table = table.sort_values(by=['country', 'year'], ascending=False).reset_index(drop=True)

table_2 = table_2.rename(columns=name_dict)
table_2 = table_2[table_2.columns.intersection(column_list)]
table_2 = table_2.sort_values(by=['year'], ascending=True).reset_index(drop=True)

result = pd.concat([table_2, table], ignore_index=True)

result.head()